<h2><%=@results.length%> Results found for "<%=@search_query%>"</h2>
<table class="results">
  <%@results.each do |result|%>
      <tr class="result">
        <td class="image">
          <%= image_tag image_path(result[:image]) %>
        </td>
        <td>
          <h2><%= link_to result[:title], stock_path(result[:stock_id]) %></h2>
          <%= result[:description] %>
          <div class="price">
            <%= number_to_currency(result[:price]) %>
          </div>
        </td>
      </tr>
  <%end%>
</table>