<h2><%=@results.length%> Results found for "<%=@search_query%>"</h2>
<%@results.each do |result|%>
  <div class="row result">
    <div class="col-md-1 col-lg-1 image">
      <%= image_tag image_path(result[:image]) %>
    </div>

    <div class="col-md-8 col-lg-10">
      <h2><%= link_to result[:title], stock_path(result[:stock_id]) %></h2>
      <%= result[:description] %>
      <div class="price">
        <%= number_to_currency(result[:price]) %>
      </div>
    </div>
  </div>
<%end%>
