<div class="col-xs-12 col-sm-7" style="min-width: 400px;">
  <div class="result <%="completed" if stock.completed? %>">
    <div class="col-xs-4 col-md-3 image">
      <%= link_to image_tag(stock.primary_image_url), stock_path(stock) %>
    </div>

    <div class="col-xs-8 col-md-9 description">
      <h2><%= link_to stock.label, stock_path(stock.id) %></h2>
      <%= stock.description %>
      <div class="price">
        <%= stock.price %> Tokens
        <% unless stock.completed? %>
          <%= render 'shared/progress_bar', stock: stock %>
        <% end %>
      </div>
    </div>
  </div>
</div>
