<h1><%= @stock.label %></h1>
<p class="content" > raffled by <%= @stock.owner.username %>,
<%= time_ago_in_words(@stock.created_at) %> ago </p>
<hr>

<div class="row">
  <div class="col-md-6">
    <h2>There are <span id="current-cont"><%= @stock.bid_count %></span>/<%= @stock.price %> tickets allocated.
      <br />
      <% if current_user %>
        You have <span id="owned-cont"><%= @stock.bids_from(current_user) %></span> tickets
    <% end %>
    </h2>
    <%= render 'shared/progress_bar', stock: @stock %>
    <p class="lead"><%= simple_format @stock.description %></p>

    <div class="row">
      <div class="col-md-6">
        <a onclick="window.history.back(-1);" class="btn btn-default">Back</a>
        <% if logged_in(@stock.owner) %>
          <%= link_to 'Edit', edit_stock_path(@stock), {class: "btn btn-warning" } %>
        <% end %>
      </div>
      <div class="col-md-6">
        <!-- Button trigger modal -->

        <!-- Modal -->
        <% if current_user %>
        <button type="button" class="pull-right btn btn-success" id="btn-popup" data-toggle="modal" data-target="#myModal">
          Buy ticket
        </button>
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Enter Raffle confirmation</h4>
                </div>
                <div class="modal-body">
                  <% if current_user.token_count > 0 %>
                    <p>You have <%= current_user.token_count %> tokens.</p>
                    <p>Are you sure you want to enter the <%= @stock.label %> raffle?
                    This will cost you one token.</p>
                <% else %>
                  Sorry you don't have any tokens left, purchase more tokens now!
                <% end %>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <% if current_user.token_count > 0 %>
                    <button class="pull-right btn btn-success" id="btn-bid" data-dismiss="modal">Buy Ticket</button>
                  <% else %>
                    <%= link_to "purchase more tokens", redeem_tokens_url, class: "btn btn-primary" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <% else %>
            <button type="button" class="pull-right btn btn-success" id="btn-popup" onClick="notAuthed();" >
              Login to enter raffle
            </button>
        <% end %>

      </div>
    </div>
  </div>

  <div class="col-md-6">
    <% unless @stock.photos.empty? %>
      <%= render 'shared/carousel', stock: @stock %>
    <% end %>
  </div>
</div>

<script>
$(document).ready(function() {
  function updateProgress(update) {
    var $prog = $('#token-progress');
    var $own = $('#token-owned-progress');
    var $bidbtn = $('#btn-bid');
    var $popupbtn = $('#btn-popup')
    var $tokenCount = $('#token-count');
    var $currnetCount = $('#current-cont');
    var $ownedCount = $('#owned-cont');

    var now = parseInt(update.current_value);
    var nowOwned = parseInt(update.user_value);
    var total = parseInt($prog.attr('aria-valuemax'));

    var owned = (nowOwned / total * 100);
    $prog.attr('aria-valuenow', now);
    $currnetCount.text(now);
    $ownedCount.text(nowOwned);
    $own.attr('aria-valuenow', nowOwned);
    $prog.css('width', ((now / total * 100) - owned) + "%");
    $own.css('width', owned + "%");

    if (update.token_count !== undefined) {
      var tokens = parseInt(update.token_count);

      $tokenCount.text(update.token_count);
      if (tokens <= 0) {
        $tokenCount
          .parent()
          .addClass('btn-danger');

        if (update.bid) {
          $tokenCount
            .parent()
            .stop(true)
            .fadeTo('125', 0.5)
            .fadeTo('125', 1.0);
        }
      } else {
        $tokenCount
          .parent()
          .removeClass('btn-danger');
      }
    }

    if (now >= total) {
      $popupbtn
        .attr('disabled','')
        .removeClass('btn-default')
        .addClass('btn-info')
        .text('Completed');
    }
  }

  $('#btn-bid').on('click', function() {
    $.ajax({
      url: '<%= bid_stock_path %>',
      method: 'POST'
    }).success(function(data) {
      if(data.notAuth){
        notAuthed();
      }
      data.bid = true;
      updateProgress(data);
    });
  });


  function poll() {
    $.ajax({
      url: '<%= poll_stock_path %>'
    }).success(function(data) {
      if (data.sucess) {
        updateProgress(data);
      }
    });
  }

  setInterval(poll, 10*1000);
  poll();
});
function notAuthed() {
  window.location = "<%= login_path(next_url: url_for(action: params[:action], controller:params[:controller])) %>";
}
</script>
