<h1><%= @stock.label %></h1>
<h3>Price: $<%= @stock.price %></h3>
<h3>Quantity: <%= @stock.quantity %></h3>

<%= link_to 'Back', stocks_url %><% if logged_in(@stock.owner) %> | <%= link_to 'Edit', edit_stock_path(@stock) %> <% end %>
