<div class="panel panel-default panel-login">
  <%= form_for @user, url: myrafflr_path, html: { class: "form-horizontal panel-body", multipart: true } do |f| %>
    <div class="col-sm-12">
      <h1>Update password</h1>
      <div class="form-group">
        <%= f.label :password, {class: "form-label"}%>
        <%= f.password_field :password, {class: "form-control"} %>
      </div>
      <div class="form-group">
        <%= f.label :confirm_password, {class: "form-label"}%>
        <%= f.password_field :confirm_password, {class: "form-control"} %>
      </div>
      <%= link_to 'Back', myrafflr_path, class: 'btn btn-default' %>
      <%= f.submit 'Update', {class: 'btn btn-success pull-right', id: 'submit'} %>
      <span id='message' class='pull-right' style="padding:7;"></span>
    </div>
  <% end %>

</div>

<script>
$(document).ready(function() {
  $('#submit').prop('disabled', true);
  $('#user_password, #user_confirm_password').on('keyup', function () {
    if ($('#user_password').val() == $('#user_confirm_password').val() && $('#user_password').val().length) {
        $('#message').html('Matching').css('color', 'green').css('padding', 7);
        $('#submit').prop('disabled', false);
    } else {
        if($('#user_password').val().length) {
          $('#message').html('Not Matching').css('color', 'red').css('padding', 7);
        } else {
          $('#message').html('Not Long Enough').css('color', 'red').css('padding', 7);
        }
        $('#submit').prop('disabled', true);
    }
  });
});
</script>