<h1>Welcome <%= @user.realname %></h1>

<p>Welcome to your MyRafflr page! From this page you can review your bidding activity and manage your account settings.</p>
<div class="row">
  <div class="col-md-6 tokens">
    <h3>Account tokens</h3>
    <p>You have a total of <span class="badge"><%= @user.token_count %></span> token(s)</p>
    <p>Tokens can be used to bid on items throughout the site</p>
    <%= link_to('Purchase more tokens', redeem_tokens_path(@user), class: 'btn btn-primary') %>
  </div>
  <div class="col-md-6 account_settings">
    <h3>Account details</h3>
    <p>These are you account details which control how your information appears on the Rafflr system</p>
    <p>To make a change update the relevant fields and click save changes. To edit your password
    <%= link_to "click here", user_edit_password_path(@user) %>.</p>
    <div class="form row">
      <%= form_for(@user) do |f| %>
        <div class="form-group col-sm-6">
          <%= label_tag "Real Name" %>
          <%= f.text_field :realname, placeholder: "Full Name", value: @user.realname %>
        </div>
        <div class="form-group col-sm-6">
          <%= label_tag "Username" %>
          <%= f.text_field :username, placeholder: "User Name", value: @user.username %>
        </div>
        <div class="col-xs-12">
          <div class="form-group">
            <%= f.submit "Save changes", class: "btn btn-primary" %>
          </div>
      <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-6 items_selling">
    <h3>Items I'm raffling <span class="badge"><%= @user.stock.size %></span></h3>
    <%= render(partial: "stocks/stock", collection: @user.stock, as: :stock) %>
    <%= link_to "Raffle an Item", new_stock_path, class: "btn btn-primary" %>
  </div>
  <div class="col-md-6 items_won">
    <h3>Items I've won <span class="badge"><%= @user.items_won.size %></span></h3>
    <%= render(partial: "stocks/stock", collection: @user.items_won, as: :stock) %>
  </div>
</div>