<h1>Welcome <%= @user.realname %></h1>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <h3>Token Count: <%= @user.token_count %></h3>
      <%= link_to "Add more tokens", user_redeem_tokens_path(@user), class:"btn btn-default"%>
    </div>
    <div class="col-sm-6">
    <h3>User actions</h3>
      <%= link_to "Add stock", new_stock_path, class:"btn btn-default"%>
      <%= link_to "Change username", edit_user_path(@user), class:"btn btn-default" %>
      <%= link_to "Change password", user_edit_password_path(@user), class:"btn btn-default" %>
    </div>
  </div>
  <br />
</div>

  <br />
  <div class="container-fluid">
    <%= render partial: "notifications/notification", collection: @notifications, as: :notification %>
  </div>

<br />

<div class="container-fluid grey">
  <div class="row">
    <% if @user.has_stock? %>
      <div class="col-sm-6">
        <h2>Stock items</h2>
        <%= render partial: "stocks/stock", collection: @user.stock, as: :stock %>
      </div>
      <div class="col-sm-6">
        <h2>Bid history</h2>
        <%= render partial: "stocks/stock", collection: @user.uniq_bids, as: :stock %>
      </div>
      
    <% else %>
      <div class="col-sm-12">
        <h2>Bid history</h2>
        <%= render partial: "stocks/stock", collection: @user.uniq_bids, as: :stock %>
      </div>
    <% end %>
  </div>
</div>