<nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
  <ul class="nav sidebar-nav">
    <li class="sidebar-brand">
      <%= link_to "Rafflr", root_path %>
    </li>
    <li><%= link_to "Home", root_path %></li>
    <% if logged_in? %>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Raffles <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li class="dropdown-header">Manage your raffles</li>
          <li><%= link_to "Raffle an item", new_stock_path %></li>
          <li><%= link_to "Notifications", myrafflr_history_path(type: "notifications")%></li>
          <li><%= link_to "Items I'm raffling", myrafflr_history_path(type: "items_raffling") %></li>
          <li><%= link_to "Raffled Items", myrafflr_history_path(type: "items_sold")%></li>
          <li><%= link_to "Items I'm Bidding On", myrafflr_history_path(type: "items_bid_current")%></li>
          <li><%= link_to "Past bids", myrafflr_history_path(type: "items_bid_past") %></li>
          <li><%= link_to "About to Finish", myrafflr_history_path(type: "items_near_completion") %></li>
          <li><%= link_to "Recent Raffles", myrafflr_history_path(type: "items_new") %></li>
        </ul>
      </li>
    <% end %>
    <li>
      <%=
        link_to_unless(logged_in?, "Sign up", signup_path) do
          link_to "My Account", myrafflr_path
        end
      %>
    </li>
    <li>
      <%=
        link_to_unless(logged_in?, "Log in", login_path) do
          link_to "Log out", logout_path
        end
      %>
    </li>
  </ul>
</nav> <!-- /#sidebar-wrapper -->