<div class="progress">
  <div id="token-owned-progress"
       class="progress-bar progress-bar-success"
       role="progressbar"
       aria-valuenow="<%= stock.bid_count %>"
       aria-valuemin="0"
       aria-valuemax="<%= stock.price %>"
       style="width: <%= stock.percentage_complete_from(current_user) %>%;">
       <span class="sr-only"><%= stock.percentage_complete_from(current_user) %>% Complete</span>
       Your tickets
  </div>
  <div id="token-progress"
       role="progressbar"
       aria-valuenow="<%= stock.bid_count %>"
       aria-valuemin="0"
       aria-valuemax="<%= stock.price %>"
       class="progress-bar progress-bar-warning progress-bar-striped"
       style="width: <%= stock.percentage_complete - stock.percentage_complete_from(current_user) %>%">
       <span class="sr-only"><%= (stock.percentage_complete - stock.percentage_complete_from(current_user)) %>% Complete</span>
       Other's tickets
  </div>
</div>
