<div class="flat-green col-md-12">
  <div>
    <%= image_tag "http://blackrockdigital.github.io/startbootstrap-freelancer/img/profile.png" %>
  </div>
  <h1 class="primary-colour">Welcome to Rafflr</h1>
  <div class="divider"></div>
  <h2>Raffle your <span class="primary-colour" id="word">Item</span>.</h2>
  <script>
    $(function () {
      var values = <%=ApplicationHelper::WORDS.to_s.html_safe%>;
      var i = 20;
      var change = function () {
        var index = parseInt(Math.random() * values.length);
        $('#word').text(values[index]);
        i = i * 2 > <%= ApplicationHelper::RAFFLER_DELAY %> ? 20 : i * 1.1;
        setTimeout(change, i);
      };
      change();
    });
  </script>
</div>
<div>
  <%= render 'description' %>
</div>
<div>
  <div>
    <%= render 'shared/featured_raffles' %>
  </div>
</div>