<!DOCTYPE html>
<html>
  <head>
    <title>Rafflr</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="/manifest.json">
  </head>
  <body>
    <div id="wrapper" class="wrapper">
      <div class="overlay" data-toggle="offcanvas"></div>
      <!-- Sidebar -->
      <%= render partial: "shared/navigation" %>

      <!-- Page Content -->
      <div id="page-content-wrapper">
        <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
          <span class="hamb-top"></span>
          <span class="hamb-middle"></span>
          <span class="hamb-bottom"></span>
        </button>
        <div class="container-fluid" style="padding:0;">
          <div class="header row vcenter">
            <div class="col-md-3 col-sm-0"></div>
            <div class="col-md-6 col-sm-8">

              <div class="row">
                <div class="title">
                  <%= link_to root_path do %>
                    <%= image_tag "rafflr.png", width: 300; %>
                  <% end %>
                </div>
              </div>
              <%= render 'shared/search_bar' %>
            </div>
          </div>
          <div class="row content-outer">
            <div class="col-xs-0 col-md-1"></div>
            <div class="col-xs-12 col-md-10 <%= "flat" if params[:controller] == "welcome" %>">
              <div class="body-wrap">
                <%= render 'shared/alert' if @alert %>
                <%= yield %>
              </div>
            </div>
            <div class="col-xs-0 col-md-1"></div>
          </div>
        </div>
      </div> <!-- /#page-content-wrapper -->
      <div class="push"></div>
    </div> <!-- /#wrapper -->
    <div class="row footer">
      <div class="col-xs-1 col-md-4"></div>
      <div class="col-xs-10 col-md-4">
        <p>&copy; Copyright MyRafflr 2016</p>
        <p>
          <%= link_to "Home", root_path %>
          - <%= link_to "MyRafflr", myrafflr_path%>
          - <%= link_to_unless(logged_in?, "Login", login_path) do
          link_to "My Account", myrafflr_path
        end %>
          - <%= link_to_unless(logged_in?, "Signup", signup_path) do
          link_to "Log out", logout_path
        end %>
        </p>
      </div>
      <div class="col-xs-1 col-md-4"></div>
    </div>
  </body>
</html>
